# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
bin/
*.svd
*.userprefs
/src/*.csproj
*.pidb
*.suo
/src/*.sln
*.user
*.unityproj
*.booproj
packages/
Components/